/* Instellingen om fouten te helpen vinden,
   uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   let op 1: dit kan de layout soms kan wijzigen 
   let op 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */


/************************* BASISINSTELLINGEN *************************/

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                               /* geldt voor alles */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 pixels */
}

html, body {                      /* geldt voor html en body */
  background-color: #EEEEEE;    /* achtergrondkleur lichtgrijs */
  color: #303030;               /* tekstkleur donkergrijs */
}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat een <div> de hoogte krijgt van wat erin zit
                                     (anders tellen de floats erin niet mee voor de hoogte
                                     en wordt dus wel eens hoogte 0) */
}


/************************* ALLE WEBPAGINA'S **********************/

/* Indeling en opmaak voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto; 
  background-color: rgb(120, 170, 171);
  
  /* boven en onder 10 pixels marge,
                                     links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst links en rechts uitvullen */
}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
  color: rgb(60, 90, 95);
  font-family: cursive;
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

img {
  margin: 10px 0px;
}

a {
  color: rgb(60, 90, 95);
  text-decoration: none;
}

a:hover {                         /* <a> als je er met de muis op staat */
  text-decoration: underline;
}

.smalltext {
  text-align: center;
  font-size: 0.7em;
  font-family: cursive;
}

/************************* NAVIGATIEBALK *************************/

/* navigatiebalk voor alle pagina's */

nav ul {                        /* <ul> die child is van <nav> */
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: rgb(100, 150, 155);
  overflow: hidden;
}

nav ul li {                     /* <li> die child is van <ul> die op zijn beurt child is van <nav> */
  float: left;
}

nav li a {
  display: block;
  color: rgb(60, 90, 95);
  text-align: center;
  padding: 12px 55.7px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #aaaaaa;
}

nav li a.active {
  background-color: rgb(100, 150, 155);
  font-family: cursive;
  
}

/*ALGEMEEN-----------------------*/

.teksten {
  font-family: cursive;
  font-size: 18px;
}

.gerechten {
    font-family: cursive;
    font-size: 35px;
  margin: 30px 0px 20px 20px;
  }

.introductie {
  margin: 0px 120px 30px 20px;
}

/************************* HOOFDPAGINA *************************/


/*TEKSTEN------------------------*/


#hoofdtitel {
  background-color: rgb(100, 150, 155);
  color: rgb(60, 90, 95);
  font-size: 42px;
}

  .zin1 {
  margin-top: 30px;
  }

  
  .teksten {
font-family: cursive;
     font-size: 18px;
  }

  .tekst1 {
    margin: 0px 30px 0px 150px;
    float: right;
  }

  .tekst2 {
   margin: 200px 60px 0px 60px;
  }

  .tekst3 {
  margin: 0px 150px 0px 20px;
  }

  .tekst4 {
  margin: 0px 150px 60px 20px;
  text-decoration: underline;
  }




/*ITEMS---------------------------*/


  .item-plaatje1 {
    float: left;
    margin: 35px 35px 15px 25px;
    border: 10px solid rgb(100, 150, 155);
    border-radius: 5px;
  }

  .item-plaatje2 {
    float: right;
    margin-right: 25px;
    margin-left: 20px;
    border: 10px solid rgb(100, 150, 155);
    border-radius: 5px;
  }

  .item-plaatje3 {
    margin: 35px 0px 70px 50px;
    transform: rotate(-20deg);
  }

  .item-plaatje4 {
     margin-top: 8px;
     margin-bottom: 65px;
     margin-left: 10px;
     float: left;
  }

/************************* AVONDETEN *************************/

/*TEKSTEN------------------------*/


.tekst5 {
margin: 40px 0px 20px 20px;
}

.tekst6 {
  margin: 15px 0px 55px 20px;
}

.introductie {
  margin: 0px 120px 30px 20px;
}

.tekst7 {
  margin: 30px 35px 50px 20px;
}

.bijvoegsel {
  margin: 30px 20px 0px 20px;
  font-size: 15px;
  font-style: italic;
}

/*ITEMS---------------------------*/

.item-plaatje5 {
  margin: 0px 25px 20px 50px;
  transform: rotate(0deg);
  float: right;
  border: 10px solid rgb(100, 150, 155);
  border-radius: 5px;
}

.item-plaatje6 {
  margin: 50px 20px 15px 15px;
  transform: rotate(0deg);
  float: left;
  border: 10px solid rgb(100, 150, 155);
  border-radius: 5px;
}

.item-plaatje7 {
  margin: 0px 35px 20px 50px;
  transform: rotate(0deg);
  float: right;
  border: 10px solid rgb(100, 150, 155);
  border-radius: 5px;
}